@model SIKONSystem.Models.Lecture

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nyt Oplæg</h1>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrame" class="control-label"></label>
                <input asp-for="TimeFrame" class="form-control" />
                <span asp-validation-for="TimeFrame" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>*@

            <div>
                <label asp-for="Room.Name" class="control-label"></label>
                @*<select asp-for="Room.RoomId" asp-items="Model.Rooms"></select>*@
            </div>
            
            @*<div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>*@

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker" class="control-label"></label>
                <input asp-for="Speaker" class="form-control" />
                <span asp-validation-for="Speaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tilføj" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigten</a>
</div>

