@model SIKONSystem.DisplayModel.LectureDisplayModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LectureDisplay.Name" class="control-label"></label>
                <input asp-for="LectureDisplay.Name" class="form-control" />
                <span asp-validation-for="LectureDisplay.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureDisplay.TimeFrame" class="control-label"></label>
                <input asp-for="LectureDisplay.TimeFrame" class="form-control" />
                <span asp-validation-for="LectureDisplay.TimeFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureDisplay.StartTime" class="control-label"></label>
                <input asp-for="LectureDisplay.StartTime" class="form-control" />
                <span asp-validation-for="LectureDisplay.StartTime" class="text-danger"></span>
            </div>

            <div>
                <label>Lokale</label>
                <select asp-for="RoomName" asp-items="Model.Rooms"></select>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                    </div>
                </div>


            </div>

            <div class="form-group">
                <label asp-for="LectureDisplay.Description" class="control-label"></label>
                <input asp-for="LectureDisplay.Description" class="form-control" />
                <span asp-validation-for="LectureDisplay.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectureDisplay.Speaker" class="control-label"></label>
                <input asp-for="LectureDisplay.Speaker" class="form-control" />
                <span asp-validation-for="LectureDisplay.Speaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

